[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/marius/Desktop/idea.desktop]
row=3
col=0

[/home/marius/Desktop/Work-monitor-setup.desktop]
row=4
col=0

[Rubbish Bin]
row=0
col=0

[/]
row=1
col=0

[/home/marius]
row=2
col=0

